@mixin tableText() {
  font-size: var(--XSmall);
  font-weight: var(--font-semibold);
  background: var(--blue1);
  text-align: center;
  color: var(--white1);
  padding: 19px 0px;
}
@media only screen and (min-width: 768px) {
  .clientTransactionContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    padding: 24px 0px 73px 0px;
    justify-content: space-between;
    .capitalGainContainer {
      width: 48%;
      padding-top: 17px;
      .chart {
        padding: 16px 24px 12px 14px;
        background: var(--white1);
        margin-bottom: 13px;
        .capitalGainTitle {
          font-size: var(--XSmall);
          font-weight: var(--font-semibold);
        }
      }
      .customClassTableContainer {
        white-space: nowrap !important;
        display: block !important;
        .customClassTdDate {
          padding: 0px !important;
          font-size: 10px;
          border-right: 1px solid var(--black1);
        }
        .customClassTableRowDate {
          height: 40px !important;
        }
      }
      .customClassTableHeadDate {
        background: var(--blue1) !important;
        padding: 5px 0px !important;
      }
      .customClassThDate {
        background: var(--blue1) !important;
        font-size: 10px !important;
        padding: 0px 1px !important;
      }

      // .customClassTdDate {
      //   border-right: 1px solid var(--black1);
      // }
      // .table {
      //   width: 100%;
      //   border-collapse: collapse;
      //   margin-top: 13px;
      //   .yearHeading {
      //     font-size: 10px;
      //     color: var(--white1);
      //     background: var(--blue7);
      //     padding: 10px 0px;
      //   }
      //   .yearRow {
      //     padding: 12px 0px;
      //     font-size: 10px;
      //     background: var(--blue13);
      //     border-right: 1px solid var(--black1);
      //   }
      // }
      .latestCommentoryText {
        font-size: var(--XXXSmall);
        margin: 18px 0px 16px 0px;
      }
      .tableHeadMainThree {
        background: var(--blue1);
        padding: 18px 0px;
        font-size: var(--XSmall);
        font-weight: var(--font-semibold);
        color: var(--white1);
        margin-top: 16px;
        text-align: center;
        width: 100%;
        display: inline-block;
      }
      .customClassTableHead {
        visibility: collapse;
      }
      .customClassTableRow {
        font-size: var(--XSmall) !important;
        font-weight: var(--font-semibold) !important;
        background: var(--blue9);
        &:nth-child(even) {
          background: var(--blue8);
        }
      }
      // .tableText {
      //   @include tableText;
      // }
      .customClassTableHead {
        border-collapse: collapse;
        width: 100%;
        .tableHeading {
          background: var(--blue8);
        }
        // .thead {
        //   background: var(--blue8);
        // }
        // .tbody {
        //   background: var(--blue9);
        // }
      }
    }
    .returnsContainer {
      width: 48%;
      .tableHeadMainThree {
        background: var(--blue1);
        padding: 18px 0px;
        font-size: var(--XSmall);
        font-weight: var(--font-semibold);
        color: var(--white1);
        margin-top: 16px;
        text-align: center;
        width: 100%;
        display: inline-block;
      }
      .customClassTableHead {
        visibility: collapse;
      }
      .customClassTableRow {
        font-size: var(--XSmall) !important;
        font-weight: var(--font-semibold) !important;
        background: var(--blue9);
        &:nth-child(even) {
          background: var(--blue8);
        }
      }
      // .returnsTable {
      //   border-collapse: collapse;
      //   width: 100%;
      //   .tableText {
      //     @include tableText;
      //   }
      //   .tableRow {
      //     &:nth-child(even) {
      //       background: var(--blue8);
      //     }
      //     &:nth-child(odd) {
      //       background: var(--blue9);
      //     }
      //   }
      // }
      .fundStatsTable {
        margin-top: 37px;
        border-collapse: collapse;
        width: 100%;
        .fundStatsText {
          @include tableText;
        }
        .tableRow {
          &:nth-child(even) {
            background: var(--blue8);
          }
          &:nth-child(odd) {
            background: var(--blue9);
          }
        }
        .tableData {
          padding: 14px 30px;
        }
      }
    }
  }
}
