@media only screen and (min-width: 768px) {
  .mainContainer {
    margin: 10% auto;
    width: 60%;

    .crossContainer {
      background-color: var(--blue1);
      .cross {
        padding: 26px 29px 26px 0px;

        text-align: right;
      }
    }
    .deleteHeading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--white1);
      padding: 35px 0px;
      .paragraph {
        color: var(--black1);
        font-size: var(--small);
        font-weight: var(--font-medium);
        text-align: center;
        width: 78%;
        margin: 0;
        // line-height: 60px;
      }
      .passwordFieldContainer {
        margin-top: 20px;
        position: relative;
        .label {
          color: var(--black1);
          font-size: var(--XXSmall);
          font-weight: var(--font-medium);
          margin-right: 15px;
        }
        .passwordField {
          height: 50px;
          background: var(--grey18);
          border: none;
          outline: none;
          padding: 0px 15px;
          width: 300px;
        }
        .icon {
          position: absolute;
          right: 15px;
          top: 14px;
          cursor: pointer;
        }
        .errorText {
          margin-top: 10px;
          color: var(--red1);
          font-weight: var(--font-medium);
          font-size: var(--XXXSmall);
        }
      }
    }
    .buttonContainer {
      background-color: var(--blue1);
      padding: 13px 18px 13px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .okButton {
        padding: 13px 52px 13px 52px;
        outline: none;
        background-color: var(--blue10);
        color: var(--blue1);
        font-weight: var(--font-semibold);
        font-size: var(--XSmall);
        display: flex;
        justify-content: center;
      }

      .deleteButton {
        outline: none;

        background-color: var(--red1);
        color: var(--white1);
        font-size: var(--XSmall);
        font-weight: (--font-semibold);
        padding: 13px 39px 13px 39px;
        margin-left: 18px;
      }
    }
  }
}
