@media only screen and (min-width: 768px) {
  .waltValuationContainer {
    width: auto;
    text-align: center;
    background-color: var(--white1);
    padding: 15px 10px;
    font-size: var(--MSmall);
    font-weight: var(--font-bold);
  }
}
