.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

  .forgotPasswordContainer {
    width: 482px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding-top: 50px;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    .logo {
      width: 382px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .formContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 29px;

      .passwordText {
        color: var(--black1);
        font-size: var(--medium);
        font-weight: var(--font-semibold);
        padding-top: 5px;
        padding-right: 181px;
      }
      .emailText {
        color: var(--grey5);
        font-size: var(--XXSmall);
        font-weight: var(--font-normal);
        padding-top: 5px;
        padding-right: 48px;
        padding-left: 62px;
      }
      .textfieldContainer {
        padding-top: 20px;
        flex: none;
        .labelText {
          color: var(--black1);
          font-size: var(--XSmall);
          font-weight: var(--font-semibold);
        }
        .inputType {
          width: 333px;
          height: 50px;
          font-size: var(--XSmall);
          font-weight: var(--font-normal);
          border: 2px solid var(--grey6);
          padding-left: 16px;
        }
      }

      .sendButton {
        // width: 341px;
        width: 74%;
        height: 47px;
        margin-top: 30px;
        background-color: var(--blue1);
        font-size: var(--medium);
        color: var(--white1);
        border: none;
        cursor: pointer;
        font-weight: var(--font-bold);
      }
      .backtoContainer {
        display: flex;
        cursor: pointer;
        .backText {
          color: var(--grey8);
          font-size: var(--XSmall);
          font-weight: var(--font-medium);
        }
        .loginText {
          color: var(--blue7);
          padding-left: 5px;
        }
      }
    }
  }
  .emailMessage{
    text-align: center;
    margin-top: 20%;
  }
}
