



.active{
    display: flex;
    justify-content: center;
    width: 47px;
    align-items: center;
    padding: 11px 0px 10px 0px;
    background: var(--blue7);
    font-weight: var(--font-medium);
    font-size: var(--XXSmall);
    color: var(--white1);
}