.dropDownContent {
  font-weight: var(--font-bold);
  font-size: var(--XXSmall);
  color: var(--grey1);
  padding: 15px 20px 0px 20px;
}
.dropDownContentActive {
  font-weight: var(--font-bold);
  font-size: var(--XXSmall);
  color: var(--blue1);
  padding: 15px 20px 0px 20px;
}
