@media only screen and (min-width: 768px) {
  .InfoContainer {
    width: 450px;
    // width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    .InfoSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Filedname {
        font-size: var(--XXSmall);
        line-height: 14px;
        font-weight: var(--font-bold);
        color: var(--blue5);
        letter-spacing: 0.01em;
        margin: 0px;
      }
      .FiledAns {
        font-size: var(--XXSmall);
        line-height: 14px;
        font-weight: var(--font-light);
        margin: 0px;
        color: var(--blue5);
        letter-spacing: 0.01em;
      }
    }
    .divider {
      margin-top: 20px;
      background: var(--grey18);
    }
  }
}
