@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.resultText {
    font-size: 22px !important;
    font-weight: var(--font-bold) !important;
    line-height: 28px;
    width: 83% !important;
    line-height: 34px !important;
    font-family: Montserrat !important;

}

.benefitText {
    font-size: 67px !important;
    font-weight: var(--font-bold) !important;
    width: 90% !important;
    font-family: Montserrat !important;

}

.resultText1 {
    font-size: 47px !important;
    font-weight: var(--font-bold) !important;
    width: 90% !important;
    font-family: Montserrat !important;

}

.benefitText1 {
    font-size: 90px !important;
    font-weight: var(--font-bold) !important;
    font-family: Montserrat !important;

}