@mixin datePickerCustomClass($borderColor) {
  display: flex;
  align-items: center;
  background: var(--grey18);
  position: relative;
  border: none;
  width: 257px;
  height: 47px;
  padding-left: 10px;
  cursor: pointer;
  .datePicker {
    background: var(--white1);
    padding-left: 7px;
    input {
      font-size: var(--XXSmall);
      font-weight: var(--font-medium);
      background: var(--white1);
      border: none;
      padding: 12px;
    }
    input:focus {
      outline: none;
    }
  }
  .datePick {
    color: var(--blue1);
  }
  .iconContainer {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 4px;
    background: var(--white1);
  }
}
@media only screen and (min-width: 768px) {
  .addFundContainer {
    width: 39.3%;
    margin: auto;
    background-color: var(--white1);
    .addFundCross {
      background-color: var(--white1);
      margin: 10% auto 0px auto;
      text-align: center;
      padding: 25px 0px 20px 0px;
      background-color: var(--blue1);
      color: var(--white1);
      font-weight: var(--font-semibold);
      font-size: var(--medium);
      .crossIcon {
        float: right;
        margin-right: 36px;
      }
    }
    .fundData {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      padding: 11px 11px;
      height: 470px;
      min-height: 300px;
      overflow-y: scroll;
      .textAreaField {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        .textAreaFieldTitle {
          font-weight: var(--font-medium);
          font-size: var(--XXSmall);
          color: var(--black1);
        }
        .description {
          background: var(--grey18);
          border: 1px solid var(--grey18);
          height: 47px;
          width: 252px;
          resize: none;
          padding-left: 10px;
        }
      }
      .textFieldFirst {
        display: flex;
        flex-direction: row;
        width: 90%;
        // margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        .textFieldTitle {
          font-weight: var(--font-medium);
          font-size: var(--XXSmall);
          color: var(--black1);
        }
        .ratingContainer {
          display: flex;
          flex-direction: column;
          width: 268px;
          .textFieldLeft {
            width: 263px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .textFieldBox {
              width: 47px;
              background: var(--grey18);
              align-items: center;
              padding: 11px 0px 10px 0px;
              text-align: center;
              font-weight: var(--font-medium);
              font-size: var(--XXSmall);
              color: var(--black1);
              cursor: pointer;
              &:hover {
                background: var(--blue7);
                font-weight: var(--font-medium);
                font-size: var(--XXSmall);
                color: var(--white1);
              }
            }
          }
        }
      }
      .error {
        margin-top: 5px;
        margin-bottom: 5px;
        color: var(--red1);
        font-weight: var(--font-medium);
        font-size: var(--XXXSmall);
      }
      .selectFieldContainer {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        background: var(--white1);
        font-weight: var(--font-normal);
        font-size: var(--XXSmall);
        .label {
          color: var(--black1);
          font-weight: var(--font-normal);
          font-size: var(--XXSmall);
          margin: 0px;
        }
        .selectist {
          display: flex;
          flex-direction: column;
          .selectlistContent {
            display: flex;
            width: 268px;
            .dropdownContainer {
              border: none;
              width: 100%;
              height: 47px;
              background: var(--grey18);
              display: flex;
              flex-direction: column;
              .dropdownContainerItems {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .dropdownContent {
                  margin-left: 10px;
                  font-size: var(--XXSmall);
                  font-weight: var(--font-medium);
                  color: var(--black1);
                }
                .dropdownIconContainer {
                  width: 47px;
                  height: 47px;
                  background-color: var(--blue1);
                  .dropdownIcon {
                    text-align: center;
                    cursor: pointer;
                  }
                }
              }
              .dropdownListContent {
                position: relative;
                font-size: var(--XSmall);
                color: var(--black1);
                border-top: none;
                width: 96%;
                top: 6px;
                height: 90px;
                padding: 0px 0px 0px 10px;
                overflow-y: scroll;
                background: var(--white1);
                box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
                .dropdownText {
                  margin: 0px;
                }
                .dropdownListItems {
                  margin: 8px 0px;
                  font-size: var(--XXSmall);
                  font-weight: var(--font-medium);
                  color: var(--black1);
                }
              }
              .dropdownListContent1 {
                position: relative;
                font-size: var(--XSmall);
                color: var(--black1);
                border-top: none;
                width: 77%;
                margin-right: 10px;
                height: 150px;
                background: var(--white1);
                box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
                overflow-y: scroll;
              }
              ::-webkit-scrollbar {
                width: 0px;
              }
            }
            .dropdownIcon {
              background-color: var(--blue7);
              border: none;
              line-height: 30px;
              height: 30px;
              border-radius: 0px 8px 8px 0px;
              margin: 10px 0px 0px 0px;
            }
            .error {
              margin-top: 14px;
              color: var(--red1);
              font-weight: var(--font-medium);
              font-size: var(--XXXSmall);
            }
          }
        }

        .title {
          color: var(--black1);
          background: var(--black1);
          font-weight: var(--font-normal);
          font-size: var(--XXSmall);
        }
      }
      .selectFieldContainer1 {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        background: var(--white1);
        font-weight: var(--font-normal);
        font-size: var(--XXSmall);
        .label {
          color: var(--black1);
          font-weight: var(--font-normal);
          font-size: var(--XXSmall);
          margin: 0px;
        }
        .selectlistContent {
          display: flex;
          width: 268px;
          .dropdownContainer {
            border: none;
            width: 100%;
            height: 47px;
            background: var(--grey18);
            display: flex;
            flex-direction: column;
            .dropdownContainerItems {
              display: flex;
              justify-content: space-between;
              align-items: center;
              cursor: pointer;
              .dropdownContent {
                margin-left: 10px;
                font-size: var(--XXSmall);
                font-weight: var(--font-medium);
                color: var(--black1);
              }
              .dropdownIconContainer {
                width: 47px;
                height: 47px;
                background-color: var(--blue1);
                .dropdownIcon {
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
            .dropdownListContent {
              position: relative;
              font-size: var(--XSmall);
              color: var(--black1);
              border-top: none;
              width: 96%;
              top: 6px;
              height: 90px;
              padding: 0px 0px 0px 10px;
              overflow-y: scroll;
              background: var(--white1);
              box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
              .dropdownText {
                margin: 0px;
              }
              .dropdownListItems {
                margin: 8px 0px;
                font-size: var(--XXSmall);
                font-weight: var(--font-medium);
                color: var(--black1);
              }
            }
            .dropdownListContent1 {
              position: relative;
              font-size: var(--XSmall);
              color: var(--black1);
              border-top: none;
              width: 77%;
              margin-right: 10px;
              height: 150px;
              background: var(--white1);
              box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
              overflow-y: scroll;
            }
            ::-webkit-scrollbar {
              width: 0px;
            }
          }
          .dropdownIcon {
            background-color: var(--blue7);
            border: none;
            line-height: 30px;
            height: 30px;
            border-radius: 0px 8px 8px 0px;
            margin: 10px 0px 0px 0px;
          }
        }
        .title {
          color: var(--black1);
          background: var(--black1);
          font-weight: var(--font-normal);
          font-size: var(--XXSmall);
        }
      }
      .textArea {
        margin-bottom: 10px;
        margin-top: 0px;
        // margin: 0px;
        width: 90%;
        .input {
          width: 255px;
          padding-left: 10px;
        }
      }

      .datePickerContainerMain {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-bottom: 10px;
        .error {
          margin-top: 14px;
          color: var(--red1);
          font-weight: var(--font-medium);
          font-size: var(--XXXSmall);
        }
        .label {
          color: var(--black5);
          font-size: var(--XXXSmall);
          font-weight: var(--font-medium);
          margin-bottom: 5px;
        }
        .datePickerContainer {
          @include datePickerCustomClass(var(--black4));
        }

        .datePickerContainerError {
          @include datePickerCustomClass(var(--red2));
        }
      }
      .blockContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        // align-items: center;
        width: 90%;
        .textFieldContainer {
          flex: 0;
        }
        .mainContainer {
          width: 90%;
          align-items: center;
          margin-bottom: 10px;
          .inputType {
            background-color: var(--grey18);
            border-style: none;

            height: 47px;
            width: 254px;
            padding-left: 10px;
          }
        }
        .newBlockInput {
          width: 175px;
          height: 47px;
          border: 1px solid var(--grey1);
          font-weight: var(--font-medium);
          font-size: var(--XXSmall);
          color: var(--black1);
        }
        .iconContainer {
          position: relative;
          .iconData {
            position: absolute;
            cursor: pointer;
            right: 0;
            background: var(--red1);
            top: 5px;
            width: 47px;
            height: 49px;
          }
          .icon {
            padding: 12px;
          }
        }
      }
      .textFieldContainer {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
      }
      .customInput {
        display: flex;
        flex-direction: column;
        border-style: none;
        background-color: var(--grey18);
        height: 47px;
        width: 254px;
        padding-left: 10px;
      }
      .title {
        font-weight: var(--medium);
        font-size: var(--XXSmall);
        color: var(--black1);
        margin-bottom: 0px;
      }
      .managementFeeContainer {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 90%;
        align-items: center;
        margin-bottom: 10px;
        .inputType {
          background-color: var(--grey18);
          border-style: none;
          height: 47px;
          width: 254px;
          padding-left: 10px;
        }
        .inputType::-webkit-outer-spin-button,
        .inputType::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .percentage {
          position: absolute;
          right: 15px;
          top: 12px;
        }
      }
      .mainContainer {
        width: 90%;
        align-items: center;
        margin-bottom: 10px;
        .inputType {
          background-color: var(--grey18);
          border-style: none;

          height: 47px;
          width: 254px;
          padding-left: 10px;
        }
        .inputType::-webkit-outer-spin-button,
        .inputType::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .addFieldButton {
        background-color: var(--grey18);
        color: var(--black1);
        font-weight: var(--font-semibold);
        font-size: var(--XSmall);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        width: 90%;
        // margin: 10px;
      }
      .iconCustomClass {
        display: inline-flex;
        margin-right: 10px;
      }
      .error {
        margin-top: 5px;
        margin-bottom: 5px;
        color: var(--red1);
        font-weight: var(--font-medium);
        font-size: var(--XXXSmall);
      }
    }
    .buttonContainer {
      background-color: var(--blue1);
      height: 76px;

      .button {
        display: flex;
        justify-content: space-between;
        .addButton {
          width: 205px;
          outline: none;
          // padding: 14px;
          height: 50px;
          background-color: var(--blue10);
          color: var(--blue1);
          font-weight: var(--font-semibold);
          font-size: var(--XSmall);
          margin: 12px 37px;
        }
      }
    }
  }
}
