@media screen and (min-width: 768px) {
  .resetPasswordContainer {
    padding: 15px 0px 53px 0px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 36%;
    margin: auto;
    max-width: 444px;
    background: white;
    .closeContainer {
      padding: 15px 15px 10px 15px;
      float: right;
      margin: 0px 15px 0px 0px;
      background-color: var(--grey2);
      border-radius: 10px;
    }
    .fieldContainer {
      padding: 0px 50px;
      margin-top: 40px;
      .setPassword {
        font-size: var(--XXLarge);
        font-weight: var(--font-bold);
        color: var(--black2);
        padding: 0px 0px 10px 5px;
        margin: 0;
      }
      .passwordInfo {
        margin: 0;
        padding: 0px 0px 30px 5px;
        color: var(--grey9);
        font-weight: var(--font-normal);
        font-size: var(--XXSmall);
      }
      .newPassword {
        margin: 0;
      }
      .confirmPassword {
        margin-top: 16px;
      }
      .customClassForError {
        padding: 5px 0px 0px 8px;
      }
      .customClass {
        position: absolute;
        right: 10px;
        top: 11px;
      }

      .resetPasswordBtn {
        padding: 16px 0px;
        width: 100%;
        justify-content: center;
        border-radius: 25px;
        margin-top: 30px;
      }
      .resetPasswordButtonIcon {
        padding: 0;
      }
      .btnText {
        font-weight: var(--font-bold);
      }
      .customClassForPopUp {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        // background: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        margin: auto;
      }
    }
  }
}
