@media screen and (min-width: 768px) {
.closeContainer {
    padding: 15px 15px 10px 15px;
    float: right;
    margin: 0px 15px 0px 0px;
    background-color: var(--grey2);
    border-radius: 10px;
    cursor: pointer;
}
}