@media only screen and (min-width: 768px) {
  .clientsListContainer {
    background: var(--white1);
    width: 43%;
    padding: 5px 29px;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 1px;
    .clientsListContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      .clientsFirstLetterContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        .clientsFirstLetter {
          font-size: var(--XXXXXLarge);
          color: var(--blue1);
          background-color: var(--blue4);
          font-weight: var(--font-semibold);
          padding-bottom: 10px;
          text-align: center;
          width: 60px;
          height: 50px;
        }
        .clientName {
          font-size: var(--XSmall);
          font-weight: var(--font-semibold);
          width: 94px;
          margin-left: 23px;
        }
      }
      .zarPrice {
        font-size: var(--XSmall);
        font-weight: var(--font-medium);
        width: 119px;
      }
      .clientNumber {
        font-size: var(--XSmall);
        font-weight: var(--font-semibold);
        width: 86px;
        color: var(--grey5);
        .numberOfClients {
          color: var(--blue1);
          margin-left: 4px;
        }
      }
    }
  }
}
