@mixin titleStyle($font) {
  background: var(--grey11);
  font-weight: var(--font-bold);
  font-size: $font;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .landingPage {
    position: relative;

    width: 100%;
    min-height: 755px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    .modalContainer {
      width: 65%;
      margin: auto;
      background-color: var(--white1);
      z-index: 1;
      .modalTitle {
        padding: 26px 0px 22px 0px;
        background-color: var(--blue1);
        font-weight: var(--font-bold);
        font-size: var(--large);
        color: var(--white1);
        text-align: center;
        .crossIcon {
          float: right;
          margin-right: 36px;
        }
      }

      .disclaimerData {
        .textData {
          margin: 30px;
          font-size: var(--XXSmall);
          color: var(--grey5);
          font-weight: var(--font-normal);
          .disText {
            font-size: var(--small);
            color: var(--grey5);
            font-weight: var(--font-bold);
          }
        }
      }
      .modalFooter {
        // height: 93px;
        background-color: var(--blue1);
      display: flex;
      justify-content: space-between;
      .checkboxContainer {
        display: flex;
        align-items: center;
        
        .checkbox {
          outline: none;
          margin-left: 30px;
          height: 19px;
          width: 19px;
          accent-color: var(--white1);
          // color: var(--blue1);
        }
        
        .checkboxText {
          margin-left: 10px;
          color: var(--white1);
          font-size: var(--XXSmall);
          font-weight: var(--font-semibold);
        }
      }
        .okButton {
          width: 69px;
          height: 60px;
          background: var(--white1);
          color: var(--blue1);
          box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
          border-radius: 2px;
          margin: 17px;
        }
      }
    }
  }
}
