@media only screen and (min-width: 758px) {
  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;

    .btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .btnStyle {
        padding: 15px 24px;
        font-size: var(--XXSmall);
        font-weight: var(--font-medium);
        background: var(--blue10);
        color: var(--blue7);
        margin-right: 30px;
      }
    }

    .generateIfaContainer {
      display: flex;
      flex-direction: row;
      background: var(--blue7);
      align-items: center;
      padding: 0px 0px 0px 25px;

      .printBtn {
        padding: 15px 25px 15px 10px;
        font-size: var(--XXSmall);
        font-weight: var(--font-medium);
      }
    }
  }

  .addNewIFAsContainer {
    .customClassText {
      text-align: center !important;
      margin: auto;
      width: 90%;
    }

    .navLink {
      display: flex;
      flex-direction: row;
      font-size: var(--XXSmall);
      font-weight: var(--font-semibold);
      background: var(--grey15);
      padding: 6px 0px 8px 38px;

      .ifaLink {
        color: var(--blue1);
        margin-right: 4px;
      }

      .addIfaLink {
        color: var(--grey1);
      }
    }

    .ifaForm {
      padding: 35px 0px;
      width: 95%;
      margin: 0px 30px 0px 30px;

      .divider {
        background: var(--grey16);
        margin: 30px 0px;
      }

      .checkboxMainContainer {
        display: flex;

        .checkboxContainer {
          display: flex;
          align-items: center;
          // margin-top: 29px;
          margin-right: 20px;

          .checkbox {
            outline: none;
          }

          .accountText {
            margin-left: 10px;
            color: var(--black1);
            font-size: var(--XXSmall);
            font-weight: var(--font-medium);

          }

          .tooltipContainer {
            display: flex;
            flex-direction: column;
            width: 20px;
            position: relative;

            .printTooltip {
              box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.22);
              border-radius: 4px;
              width: 170px;

              .text {
                color: var(--blue7);
                font-size: var(--XXXXXSmall);
                font-weight: var(--font-medium);
                padding: 10px;
                z-index: 10;
                left: -77px;
                bottom: 29px;
                display: inline-block;
                width: 170px;
              }
            }

            .infoIcon {
              width: 18px;
              height: 18px;
              margin-left: 10px;
              position: relative;
              cursor: pointer;
            }
          }
        }
      }

      .IFAsPrimaryDetails {
        background: var(--white1);
        padding: 35px 22px 30px 22px;

        .data1 {
          font-size: var(--small);
          font-weight: var(--font-medium);
          margin: 0px;
        }

        .imgBtnGrp {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 23px 20px 27px 0px;

          .imageUploadContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .profileImage {
            width: 90px;
            height: 73px;
          }

          .uploadBtn {
            background: var(--blue7);
            font-size: var(--XXSmall);
            font-weight: var(--font-medium);
            padding: 9px 30px;
            border-radius: 2px;
            margin: 0px 20px;
          }

          .removeBtn {
            border: 1px solid var(--black4);
            font-size: var(--XXSmall);
            font-weight: var(--font-medium);
            background: var(--white1);
            padding: 9px 30px;
            border-radius: 2px;
            color: var(--black5);
          }




          .uploadBtn1 {
            background: var(--blue7);
            color: var(--white1);
            font-size: var(--XXSmall);
            font-weight: var(--font-medium);
            padding-left: 19px;
            padding-top: 1px;
            // padding: 1px 10px;
            border-radius: 2px;
          }





          .verticalDivider {
            border: 1px solid var(--grey21);
            height: 70px;
          }

          .uploadContainer {
            display: flex;

            .iconContainer {
              height: 40px;
              width: 40px;
              margin-left: 10px;
              align-self: unset;
            }

            .fileInputBtn {
              background: var(--blue10);
              border-radius: 2px;
              color: black;
              font-size: var(--XXSmall);
              font-weight: var(--font-normal);
              height: 40px;
              min-width: 200px;
              border: 1px dashed var(--blue7);
            }

            .uploadBtn {
              background: var(--blue7);
              font-size: var(--XXSmall);
              font-weight: var(--font-medium);
              padding: 9px 25px;
              border-radius: 2px;
            }

            .uploadBtn1 {
              background: var(--blue7);
              color: var(--white1);
              font-size: var(--XXSmall);
              font-weight: var(--font-medium);
              //   padding: 1px 10px;
              padding-left: 19px;
              border-radius: 2px;
            }
          }
        }

      }

      .IFAsMoreDetails {
        background: var(--white1);
        padding: 0px 0px 0px 0px;

        // margin-top: 35px;
        .clientTypeWithIcon {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: relative;

          .textWithIcon {
            display: flex;
            flex: 1;
            margin-right: 16px;

            .officeIconContainer {
              background-color: var(--blue7);
              width: 36px;
              height: 37px;
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: flex-end;
              cursor: pointer;
            }

            .officeIconContainerCustom {
              align-self: unset;
              cursor: pointer;
              margin-top: 23px;
              // margin-bottom: unset;
            }

            .labelText {
              position: relative;
              display: flex;
              font-size: var(--XXXSmall);
              font-weight: var(--font-medium);
            }

            // .inputType1 {
            //   width: 90%;
            //   height: 34px;
            //   margin-right: 5px;
            //   background: red;
            // }

            .dropdownStyle {
              position: relative;
              width: 93%;
              height: 37.8px;
              padding: 0px !important;
            }
          }
        }

        .data1 {
          font-size: var(--small);
          font-weight: var(--font-medium);
          margin: 0px;
        }

        .divider {
          background: var(--grey16);
          margin: 30px 0px;
        }

        .IFAsType {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .labelText {
            font-size: var(--XXXSmall);
            display: flex;
            font-weight: var(--font-medium);
          }

          .inputType1 {
            width: 90%;
            height: 34px;
            margin-right: 5px;
          }


          .dropdownStyle {
            width: 90%;
            height: 37.8px;
            padding: 0px !important;
          }

          .inputTypePostal {
            width: 30% !important;
            height: 34px;
            margin-right: 5px;
          }
        }

        .IFAsType1 {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 75%;

          .labelText {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
          }

          .inputType1 {
            width: 90%;
            height: 34px;
            margin-right: 5px;
          }

          .dropdownStyle {
            width: 90%;
            height: 37.8px;
            padding: 0px !important;
          }

          .inputTypePostal {
            width: 30% !important;
            height: 34px;
            margin-right: 5px;
          }
        }
      }

      .businessData {
        background: var(--white1);
        padding: 35px 22px 30px 22px;
        margin-top: 35px;

        .IFAsDetails {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin-top: 19px;

          .labelText {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
          }

          .inputType1 {
            width: 90%;
            height: 34px;
            margin-right: 5px;
          }

          .dropdownStyle {
            width: 90%;
            height: 37.8px;
            padding: 0px !important;
          }

          .checkContainer {
            display: flex;
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
            // margin-right: 5%;
            flex: 1;

            .questionText {
              font-size: var(--XXXSmall);
              font-weight: var(--font-medium);
              color: var(--black5);
            }

            .radioCustomClass {
              display: flex;
              align-items: center;
            }

            .radioContainer {
              display: flex;
              padding-top: 5px;

              .radioButtonText {
                padding-left: 9px;
                padding-right: 18px;
                font-size: var(--XXXSmall);
                font-weight: var(--font-normal);
              }
            }
          }

          // .divContainer {
          //   width: 180px;
          //   height: 40px;
          // }
          .chechboxContainer {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
            margin-right: 6%;

            .registrationText {
              color: var(--black5);
            }

            .isActiveText {
              margin-top: 10px;
            }

            .yesCheck {
              margin-right: 30px;
            }
          }
        }


        .IfaRoleType {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 50%;

          .labelText {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
          }

          .dropdownStyle {
            width: 90%;
            height: 37.8px;
            padding: 0px !important;
            margin-right: 5px;
          }





        }

        .divider {
          background: var(--grey16);
          margin: 30px 0px;
        }

        .contactDetails {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .contactInfo {
            display: flex;
            flex-direction: column;
            width: 24%;

            .labelText {
              font-size: var(--XXXSmall);
              font-weight: var(--font-medium);
            }

            .inputType1 {
              width: 90%;
              height: 34px;
              margin-right: 5px;
            }

            .contactLabel {
              margin-top: 9px;
              font-size: var(--XXXSmall);
              font-weight: var(--font-medium);
            }
          }


          .descriptionContainer {
            display: flex;
            flex-direction: column;
            width: 75%;

            .label {
              font-size: var(--XXXSmall);
              font-weight: var(--font-medium);
              color: var(--black5);
              margin-bottom: 5px;
            }

            .textArea {
              width: 97%;
              height: 172px;
              resize: none;
              border: 1px solid var(--black4);
            }

            .inputData {
              width: 97%;
              height: 172px;
            }
          }
        }

        .data1 {
          font-size: var(--small);
          font-weight: var(--font-medium);
          margin: 0px;
        }

        .divider {
          background: var(--grey16);
          margin: 30px 0px;
        }

        .IFAsType {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .labelText {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
          }

          .inputType1 {
            width: 90%;
            height: 34px;
            margin-right: 5px;
          }
        }

        .IFAsType1 {
          margin-top: 19px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 75%;

          .labelText {
            font-size: var(--XXXSmall);
            font-weight: var(--font-medium);
          }

          .inputType1 {
            width: 90%;
            height: 34px;
            margin-right: 5px;
          }

          .dropdownStyle {
            width: 90%;
            height: 37.8px;
            padding: 0px !important;
          }

          .inputTypePostal {
            width: 30% !important;
            height: 34px;
            margin-right: 5px;
          }
        }

        .btnGrp {
          margin: 50px 25px 0px 0px;
          text-align: right;
          display: flex;
          justify-content: flex-end;


          .saveBtn {
            font-size: var(--small);
            font-weight: var(--font-medium);
            padding: 10px 25px;
            border-radius: 2px;

            width: 207px;
            height: 51px;
            //  border-radius: 2px;

          }

          .customClassLoader {
            margin: 0px auto;
          }

          // .editBtn{
          //     color: var(--black5);
          //     margin-left: 20px;
          //     font-weight: var(--font-medium);
          //     font-size: var(--small);
          //     background: var(--white1);
          //     border: 1px solid var(--black4);
          //     padding: 10px 18px;
          // }
          .cancelBtn {
            margin-left: 20px;
            background: var(--white1);
            color: var(--black5);
            border: 1px solid var(--black4);
            font-size: var(--small);
            font-weight: var(--font-medium);
            padding: 12px 29px;
            //    border-radius: 2px;
          }

          .deleteBtn {
            margin-left: 20px;
            background: var(--white1);
            color: var(--red2);
            padding: 10px 25px;
            border: 1px solid var(--red2);
            font-size: var(--small);
            font-weight: var(--font-medium);
          }
        }
      }
    }
  }
}