.privateBankingContainer {
  width: 80%;
  margin: auto;
  padding: 70px 0px;
  font-size: var(--small);
  font-weight: var(--font-normal);
  color: var(--grey1);
  letter-spacing: 0.01em;
  line-height: 29px;
  .paragraphTwo {
    padding: 20px 0px;
  }
}
