@media screen and (min-width: 768px) {
  .loginContainer {
    padding: 15px 0px 53px 0px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 36%;
    margin: auto;
    max-width: 444px;
    background: white;
    .closeContainer {
      padding: 15px 15px 10px 15px;
      float: right;
      margin: 0px 15px 0px 0px;
      background-color: var(--grey2);
      border-radius: 10px;
    }
    .fieldContainer {
      padding: 0px 50px;
      margin-top: 40px;
      .loginText {
        font-size: var(--XXLarge);
        font-weight: var(--font-bold);
        color: var(--black2);
        padding: 0px 0px 30px 5px;
        margin: 0;
      }
      .passwordContainer {
        margin-top: 16px;
      }
      .customClass {
        position: absolute;
        right: 10px;
        top: 11px;
      }
      .errorText {
        color: var(--red1);
        font-size: var(--XXSmall);
        font-weight: var(--font-normal);
        padding: 10px 0px 0px 5px;
        margin: 0;
      }
      .forgetText {
        font-weight: var(--font-normal);
        font-size: var(--XXSmall);
        color: var(--black2);
        margin: 0px;
        padding: 10px 0px 30px 5px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        .passwordText {
          color: var(--blue1);
          font-weight: var(--font-bold);
          cursor: pointer;
        }
      }
      .continueBtn {
        padding: 16px 0px;
        width: 100%;
        justify-content: center;
        border-radius: 25px;
      }
      .continueButtonIcon {
        padding: 0;
      }
      .btnText {
        font-weight: var(--font-bold);
      }
      .customClassForPopUp {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        // background: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        margin: auto;
      }
      .accountText {
        font-weight: var(--font-normal);
        font-size: var(--XXSmall);
        color: var(--black2);
        margin: 0px;
        padding-top: 11px;
        text-align: center;
        .registerText {
          font-weight: var(--font-bold);
          color: var(--blue1);
          cursor: pointer;
        }
      }
    }
  }
}
