@media only screen and (min-width: 768px) {
  .cardRewardContainer {
    // width: 340px;
    // width: 270px;
    margin-right: 7px;
    // margin: 0px 8px;
    .imageStyle {
      // width: 250px;

      width: 95%;
    }
    .rewardText {
      margin: 0;
      font-size: var(--large);
      font-weight: var(--font-medium);
      padding-top: 30px;
    }
    .pointsText {
      margin: 0;
      padding: 6px 0px 17px 0px;
      font-size: var(--XSmall);
      font-weight: var(--font-normal);
    }
    .detailsInfo {
      margin: 0;
      color: var(--purple7);
      font-size: var(--XSmall);
      font-weight: var(--font-normal);
    }
  }
}
